@charset "UTF-8";

/*バナーサンプル用　CSS*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
body {
  font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, sans-serif;
}
img{
  display: block;
  width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}
h1 {
  border-bottom: 1px dotted #666;
  margin: 20px 0 30px;
  font-size: 3.4rem;
  line-height: 1.4;
  color: #666;
}
h2 {
  border-bottom: 2px solid #fc3;
  margin-bottom: 40px;
  font-size: 2.4rem;
  color: #333;
}
h3 {
  font-size: 22px;
  border-left: 10px solid #fc3;
  padding-left: 10px;
  margin-bottom: 10px;
}
h4 {
  font-size: 18px;
  color: #de4e4e;
  border-bottom: 1px solid #de4e4e;
  margin-bottom: 10px;
}
p{
  margin-bottom: 10px;
}
.content {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  margin: 20px 0 10px;
}
.concept {
  max-width: 728px;
  width: calc(100% - 320px);
  margin-bottom: 30px;
}
.Lboard {
  margin-bottom: 30px;
}
.comment {
  height: 300px;
  overflow-y: auto;
  border: 2px dotted #fc3;
  padding: 10px;
  box-sizing: border-box;
}
.comment p {
  font-size: 1.6rem;
  line-height: 1.75;
  text-align: justify;
}
.MRboard {
  max-width: 300px;
  width: 100%;
}
footer {
  clear: both;
  text-align: center;
  line-height: 100px;
}
footer a {
  font-size: 14px;
}

@media (hover:hover){
  footer a:hover {
    color: #f00;
    text-decoration: none;
  }
}

@media screen and (max-width:768px){
  h2 span{
    display: block;
  }
  .content{
    flex-wrap: wrap;
  }
  .concept,.MRboard{
    max-width: 100%;
    width: 100%;
  }
  .concept{
    order: 1;
  }
  .MRboard{
    order: 0;
    margin-bottom: 40px;
  }
  .Lboard{
    margin-bottom: 40px;
  }
}